.seccion-trabajos {
  padding-bottom: 50px;
}

.titulo-trabajo {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.icono-trabajo {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  margin-right: 3rem;
  color: #565656;
  padding-top: 3rem;
}

.h3-trabajos {
  display: inline;
}
.tabla {
  font-size: 1.8rem;
}
.trabajos__info {
  font-size: 1.4rem;
  margin: 0 auto;
}

th {
  border: 1px dashed;
  padding: 10px 30px 10px 30px;
}
td {
  border: 1px dashed;
  padding: 10px 30px 10px 50px;
}

.h4-lista {
  font-size: 2rem;
}

ul {
  padding: 10px 0 15px 0;
}

li {
  display: flex;
}
.fa-angle-right {
  font-size: 2rem;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #2bbc9c;
}

.pagination {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

span {
  font-weight: bold;
}

.fa-user {
  color: #fb9495;
  padding-right: 5px;
}

.fa-map-marker-alt {
  color: #27a2f9;
  padding-right: 5px;
}
